// .fade-in{
//     animation: fadein ease .8s forwards;
// }

.bounce{
    animation: bounce .5s ease forwards;
}

.appear{
    animation: appear ease .5s forwards;
}

[data-animate="fade-in"]{
    transform: translateY(30px);
    opacity: 0;
}

[data-animate="fade-in"].show-card{
    transform: translateY(0px);
    opacity: 1; 
}

@for $i from 0 through 10{
    [data-animate="fade-in"][data-animate-delay="#{$i * 2}"]{transition: transform ease-in-out .8s #{$i * 0.2}s, opacity ease-in-out .8s #{$i * 0.2}s}
}

@keyframes disaprear{
    0%{
        margin-left: 0;
        opacity: 1;
    }
    100%{
        margin-left: calc(-265px);
        opacity: 0;
    }
}

@keyframes appear{
    0%{
        transform: translateX(calc(100%/4));
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes shake{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(10deg)
    }
    50%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(-10deg)
    }
    100%{
        transform: rotate(0); 
    }
}

@keyframes bounce{
    0%{
        transform: scale(.8);
    }
    70%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}