header {
    background-color: $dark-bg-top;
    color: #fff;
    border-bottom: 1px solid $border-color;
}

.brand-logo {
    float: left;
    padding: 20px 30px;
    width: 280px;
    background-color: $sidebar-bg;

    a {
        display: inline-block;
        line-height: 30px;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600;

        img {
            height: 28px;
            width: 28px;
            vertical-align: top;
            margin-right: 12px;
        }

        .badge {
            margin-left: 8px;
        }
    }
}

.nav-main {
    padding: 20px 0;
    margin-left: 55px;
    float: left;
    color: rgba(255, 255, 255, .6);

    &>li {
        display: inline-block;
        line-height: 30px;

        &:hover {
            color: #fff;
        }

        &+li {
            margin-left: 30px;
        }
    }
}

.user-profile {
    float: right;
    font-size: 0;
    padding: 13px 0;

    .badge {
        padding: 3px 10px 3px 3px;
        line-height: 18px;
        margin-right: 15px;

        svg {
            margin-right: 10px;
        }
    }

    .points {
        font-size: 0;
        line-height: 18px;
        font-size: 12px;
        vertical-align: middle;


        &::after{
            content:'\002B';
            display: inline-block;
            margin-left: 13px;
        }
    }

    figure {
        display: inline-block;
        vertical-align: middle;

        img {
            border-radius: 5px;
        }

        figcaption {
            font-size: 14px;
            display: inline-block;
            vertical-align: top;
            margin-left: 15px;

            a {
                display: inline-block;
                width: 100%;
                font-weight: 600;
            }
        }
    }
}