.uproar-sidebar {
    background-color: $sidebar-bg;
    width: 280px;
    height: inherit;
    float: left;
    color: #fff;
    position: relative;
}

.sidebar-nav {
    max-height: calc(100% - 63px);
    height: 100%;
    overflow: auto;

    &>li {
        padding: 20px 0;
        border-bottom: 1px solid $border-color;
        a{
            display: block;
        }
        
        &>a {
            padding: 7px 30px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 14px;
        }
    }
}

.dropdown-list {
    font-size: 14px;
    line-height: 18px;
    &>li {
        a {
            margin: 0 30px;
            padding: 10px 0;
            width: calc(100% - 60px);
            text-transform: capitalize;
        }

    }
}
.drop-list{
    overflow: hidden;
    height: 0;
    transition: height ease .4s;
}

.category-list {
    li {
        border-left: 3px solid transparent;

        a {
            width: calc(100% - 80px);
            margin: 0 30px 0 50px;
            font-weight: normal;
            color: rgba(255, 255, 255, .5);

            svg {
                margin-right: 25px;
            }
        }

        &:hover {
            cursor: pointer;
            background-color: $dark-active;
            border-left: 3px solid $primary-color;
            transition: all ease 300ms;

            a {
                color: #fff;
            }
        }
    }
}
.user-games{
    a{
        .icon-grid{
            margin-right: 16px;
        }
    }
}
.mode-switch{
    width: 100%;
    padding: 20px 30px;
    border-top: 1px solid $border-color;
    background: $sidebar-bg;
    span{
        text-transform: capitalize;
    }
}