.uproar-main {
    padding: 40px 55px 70px;
    float: left;
    max-width: calc(100% - 280px);
    height: inherit;
    overflow: auto;
    width: 100%;
    color: #fff;

    h3 {
        color: rgba(#fff, .4);
    }

    .uproar-head {
        .uproar-caption {
            float: left;

            span {
                font-weight: 600;
                font-size: 11px;
                color: rgba(#fff, .4);
                text-transform: uppercase;
            }
        }

        .btn-wrapper {
            float: right;
            font-size: 0;

            .btn-primary {
                margin-right: 10px;
            }

            .btn-next {
                margin-right: 5px;
            }
        }
    }
}

.uproar-quests {
    margin-bottom: 40px;
}

.games-list {
    font-size: 0;
    margin-top: 25px;
}

.card {
    float: left;
    width: calc(100%/4 - 10px);
    transition: all ease 300ms;
    border-radius: 8px;
    background: #3a3846;

    &+.card {
        margin-left: 10px;
    }

    figure {
        font-size: 0;
        z-index: -1;

        img {
            border-radius: 8px 8px 0 0;
            width: 100%;
        }
    }

    .game-desc {
        padding: 15px 15px 20px;
        width: 255px;

        h2 {
            margin-bottom: 10px;
            font-size: 16px;
            margin-bottom: 10px;
            @include text-overflow(100%, null);
        }

        p {
            color: rgba(#fff, .5);
            min-height: 36px;
            margin-bottom: 15px;
        }
    }

    .card-footer {
        padding: 15px;
        font-size: 13px;
        font-size: 0;
        border-top: 1px solid $border-color;

        span {
            display: inline-block;
            font-size: 13px;
            line-height: 30px;

            svg {
                margin-right: 10px;
            }

            margin-right: 15px;
        }

        .btn-primary {
            float: right;
            vertical-align: middle;
            font-size: 13px;
            padding: 5px 15px;
            height: 30px;
            width: 75px;
        }
    }

    &:hover {
        box-shadow: 10px 10px 0 -3px rgba(#fff, .3);
    }
}

.game-card {
    background: #3a3846;

    figure {
        display: inline-block;
        width: 70px;
        margin: -10px 0 0 15px;
        height: 70px;

        img {
            border-radius: 8px;
        }
    }

    .game-desc {
        display: inline-block;
        width: 142px;
        vertical-align: top;
        margin: 15px 12px 20px;
        padding: 0;

        p {
            margin: 0;
        }
    }

    .b-action {
        &::before {
            top: 60px;
            left: 10px;
        }
    }
}

.completed {
    animation: disaprear ease-in-out .5s 0s forwards !important;
}

.alert{
    background: $dark-active;
    @include center(true,false);
    transform: translate(-50%,0);
    opacity: 0;
    visibility: hidden;
    width: 350px;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    transition: all ease .5s;
    button{
        float: right;
        padding: 7px;
    }
    .alert-content{
        width: 180px;
        margin: 30px auto;

        p{
            font-size: 18px;
            line-height: 20px;
            color: #fff;
            margin-top: 20px;
            text-transform: capitalize;
        }
    }
}
.show-alert{
    transform: translate(-50%,120px);
    opacity: 1;
    visibility: visible;
}
