.uproar-main {
    padding: 40px 55px 70px;
    float: left;
    max-width: calc(100% - 280px);
    height: inherit;
    overflow: auto;
    width: 100%;
    color: #fff;

    h3 {
        color: rgba(#fff, .4);
    }
}
.uproar-row{
    .uproar-head {
        .uproar-caption {
            float: left;

            span {
                font-weight: 600;
                font-size: 11px;
                color: rgba(#fff, .4);
                text-transform: uppercase;
            }
        }

        .btn-wrapper {
            float: right;
            font-size: 0;

            .btn-primary {
                margin-right: 10px;
            }

            .btn-prev {
                margin-right: 5px;
            }
        }
    }
}

.uproar-quests,.uproar-popular{
    padding-bottom: 40px;
    overflow: hidden;
}

.games-list {
    font-size: 0;
    margin-top: 25px;
    white-space: nowrap;
    transition: all ease .7s;
}

.card {
    min-width: calc(265px - 10px);
    display: inline-block;
    transition: all ease 300ms;
    border-radius: 6px;
    background: #3a3846;
    margin-right: 10px;

    &:hover{
        box-shadow: 1px 1px 10px 10px rgba(#000,.15);
    }
    figure {
        font-size: 0;

        img {
            border-radius: 6px 6px 0 0;
            width: 100%;
        }
    }

    .game-desc {
        padding: 15px;
        white-space: initial;

        h2 {
            margin-bottom: 10px;
            font-size: 16px;
            margin-bottom: 10px;
            @include text-overflow(100%, null);
        }

        p {
            color: rgba(#fff, .5);
            height: 36px;
            max-height: 54px;
            overflow: hidden;
        }
    }

    .card-footer {
        padding: 15px;
        font-size: 13px;
        font-size: 0;
        border-top: 1px solid $border-color;
        span {
            display: inline-block;
            font-size: 13px;
            line-height: 30px;

            svg {
                margin-right: 10px;
            }

            margin-right: 15px;
        }

        .btn-primary {
            font-size: 13px;
            padding: 7px 10px;
            height: 30px;
            float: right;
        }
    }
}

.show-card{
    transform: translateY(0px);
    opacity: 1;
}

.game-card {
    background: #3a3846;

    figure {
        display: inline-block;
        width: 70px;
        margin: -10px 0 0 15px;
        height: 70px;

        img {
            border-radius: 8px;
        }

        &::before{
            top: unset;
            bottom: -10px;
            left: 10px;
        }
    }

    .game-desc {
        display: inline-block;
        width: calc(100% - 110px);
        vertical-align: top;
        margin: 15px 12px 20px;
        padding: 0;

        p {
            margin: 0;
        }
    }
}

.completed {
    animation: disaprear ease-in-out .5s forwards;
}

.alert{
    background: $dark-active;
    @include center();
    transform: translate(-50%,-100%);
    opacity: 0;
    visibility: hidden;
    width: 350px;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    transition: all ease .5s;
    transform-origin: left;

    button{
        float: right;
        padding: 7px;
    }
    .alert-content{
        width: 180px;
        margin: 30px auto;

        p{
            font-size: 18px;
            line-height: 20px;
            color: #fff;
            margin-top: 20px;
            text-transform: capitalize;
        }
    }
}
.show-alert{
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 10px 10px rgba(#000, .2);
    opacity: 1;
    visibility: visible;

    .icon-lowpower{
        animation: shake linear .2s 2;
    }
}
