//Colors
$primary-color: #6f6eff;
$sidebar-bg: #323242;
$dark-bg-top: #302f3e;
$dark-bg-bottom: #343442;
$dark-active: #464554;
$bright-red: #ff4738;
$online-color: #24cb8d;
$border-color: rgba(#d8d8d8,.1);